body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #262626;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

input {
    border: none;
}

label {
    color: white;
}

#title {
    display: flex;
    justify-content: center;
    margin-bottom: 0.8rem;
    color: white;
}

span {
    color: red;
    font-size: 12px;
}

img {
    height: 20px;
    width: 20px;
}

#form-container {
    background-color: #0c4a6e;
    padding: 3rem;
    border: 2px white solid;
    border-radius: 10px;
}

.error {
    border: red 2px solid;
}

.success {
    border: #22c55e 2px solid;
}

.top-row {
    display: flex;
    align-items: center;
    gap: 10px;
}