@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-bold';
    src: url('./Roboto-Bold.ttf');
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #262626;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

input {
    border: none;
    border-radius: 5px;
}

label {
    color: white;
    font-family: 'Roboto';
}

#title {
    display: flex;
    justify-content: center;
    margin-bottom: 1.2rem;
    color: white;
    font-size: 24px;
    font-family: 'Roboto-bold';
}

span {
    color: red;
    font-size: 12px;
}

img {
    height: 20px;
    width: 20px;
}

#form-container {
    background-color: #0c4a6e;
    padding: 1.5rem 3rem 1.5rem 3rem;
    border: 2px white solid;
    border-radius: 10px;
}

.error {
    border: red 2px solid;
}

.success {
    border: #22c55e 2px solid;
}

.top-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

button {
    margin-top: 10px;
    font-family: 'Roboto';
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
}